<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>OBST solar power</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.3.0/flowbite.min.css" rel="stylesheet" />
    <script defer src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.3.0/flowbite.min.js"></script>
    <%- include("./_partials/css.ejs") %>
    <link rel="shortcut icon" href="./assets/favicon.ico" type="image/x-icon" />
  </head>

  <body>
    <%- include("./_partials/nav.ejs", {active : "./contact.html"}) %>

    <section class="section">
      <div class="grid grid-cols-1 max-md:gap-y-10 md:grid-cols-2 gap-x-5">
        <div class="cols-span-1 max-w-[500px] max-md:mx-auto">
          <div class="mb-3">
            <div class="title mb-2">Contact Us</div>
            <p class="text-lg">We are here to answer any questions you may have</p>
          </div>
          <form action="" class="mt-7 space-y-3">
            <div>
              <label for="subject">Subject</label>
              <input id="subject" type="text" name="subject" class="w-full rounded-lg" />
            </div>
            <div>
              <label for="body">Message</label>
              <textarea id="body" name="body" class="p-2 w-full rounded-lg" rows="7"></textarea>
            </div>
            <a
              id="mailer"
              href="mailto:sales@obstsolarpower.com?subject=''&body=''"
              class="button block w-fit mx-auto bg-primary text-white hover:bg-primary/60"
            >
              Send Email</a
            >
          </form>
        </div>
        <div class="cols-span-1 max-md:h-[500px]">
          <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d6667.810763187242!2d3.477045312549793!3d6.432056533103311!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x103bf57a44c5737f%3A0x7d8b89196d18b311!2sOMS%20HOUSE!5e0!3m2!1sen!2sus!4v1713794963692!5m2!1sen!2sus"
            class="w-full h-full"
            style="border: 0"
            allowfullscreen=""
            loading="lazy"
            referrerpolicy="no-referrer-when-downgrade"
          ></iframe>
        </div>
      </div>
    </section>

    <section class="section">
      <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-x-5">
        <div class="p-5 border rounded-lg">
          <div class="space-y-2">
            <svg width="30" height="25" viewBox="0 0 30 25" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path
                d="M3 24.25C2.175 24.25 1.469 23.9565 0.882 23.3695C0.295 22.7825 0.001 22.076 0 21.25V3.25C0 2.425 0.294 1.719 0.882 1.132C1.47 0.545 2.176 0.251 3 0.25H27C27.825 0.25 28.5315 0.544 29.1195 1.132C29.7075 1.72 30.001 2.426 30 3.25V21.25C30 22.075 29.7065 22.7815 29.1195 23.3695C28.5325 23.9575 27.826 24.251 27 24.25H3ZM15 13.75L3 6.25V21.25H27V6.25L15 13.75ZM15 10.75L27 3.25H3L15 10.75ZM3 6.25V3.25V21.25V6.25Z"
                fill="black"
              />
            </svg>
            <h1 class="font-bold">Email</h1>
            <p>Monday - Friday</p>
            <p>9am - 5pm</p>
            <p>sales@obstsolarpower.com</p>
          </div>
        </div>
        <div class="p-5 border rounded-lg max-sm:mt-10">
          <div class="space-y-2">
            <svg width="30" height="38" viewBox="0 0 30 38" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path
                d="M28.8723 26.4468L21.4941 22.3199C21.208 22.1651 20.8957 22.102 20.5852 22.1361C20.2747 22.1702 19.976 22.3005 19.7159 22.5152C19.6951 22.5317 19.6753 22.5499 19.6565 22.5699L15.7815 26.6988C15.6953 26.7645 15.5974 26.8027 15.4965 26.8098C15.3957 26.817 15.295 26.7929 15.2034 26.7398C12.6658 25.2085 10.0392 21.9507 8.8142 18.816C8.77087 18.7023 8.75075 18.577 8.75566 18.4512C8.76057 18.3254 8.79035 18.2031 8.84233 18.0953L12.1549 13.1714C12.1705 13.148 12.1846 13.1226 12.1986 13.0972C12.3699 12.7726 12.4738 12.3998 12.5011 12.0125C12.5284 11.6252 12.4781 11.2355 12.3549 10.8785L9.04702 1.67143C8.88732 1.20511 8.61091 0.816143 8.25929 0.562926C7.90767 0.30971 7.49982 0.205917 7.09699 0.267134C5.13067 0.591197 3.32595 1.7989 2.01993 3.66467C0.713915 5.53043 -0.00409373 7.92667 1.75584e-05 10.4058C1.75584e-05 25.4839 9.81265 37.7496 21.8753 37.7496C23.8587 37.7547 25.7757 36.8572 27.2683 35.2247C28.7609 33.5922 29.7271 31.3363 29.9864 28.8785C30.035 28.3772 29.9528 27.8698 29.7521 27.4316C29.5513 26.9935 29.2428 26.6481 28.8723 26.4468ZM28.7504 28.6831C28.5298 30.7647 27.7102 32.6745 26.4448 34.0556C25.1795 35.4366 23.5551 36.1943 21.8753 36.1871C10.5033 36.1871 1.25003 24.6206 1.25003 10.4058C1.24422 8.30609 1.8504 6.27561 2.95526 4.69398C4.06011 3.11235 5.58799 2.08786 7.25324 1.81206C7.27822 1.81012 7.30327 1.81012 7.32824 1.81206C7.45155 1.81337 7.57178 1.86024 7.67382 1.94678C7.77586 2.03332 7.85514 2.15565 7.90169 2.29838L11.2002 11.5054C11.2387 11.6179 11.2555 11.7402 11.2492 11.8623C11.243 11.9845 11.2139 12.1031 11.1642 12.2085L7.85325 17.1304C7.83763 17.1558 7.822 17.1792 7.80794 17.2066C7.63154 17.5438 7.52766 17.9321 7.50631 18.3341C7.48496 18.7361 7.54687 19.1381 7.68606 19.5015C9.04389 22.9761 11.8439 26.4507 14.6549 28.148C14.9476 28.3209 15.2711 28.3961 15.5939 28.3663C15.9167 28.3365 16.2279 28.2028 16.4971 27.9781L16.5549 27.9234L20.4347 23.7984C20.5177 23.735 20.6115 23.6972 20.7085 23.688C20.8055 23.6788 20.9028 23.6986 20.9925 23.7457L28.3692 27.8785C28.4936 27.9432 28.598 28.0566 28.6668 28.2016C28.7355 28.3466 28.7648 28.5156 28.7504 28.6831Z"
                fill="black"
              />
            </svg>
            <h1 class="font-bold">Phone</h1>
            <p>Monday - Saturday</p>
            <p>9am - 5pm</p>
            <p>+2348110400099, +2349165761024</p>
          </div>
        </div>
        <div class="p-5 border rounded-lg max-lg:mt-10">
          <div class="space-y-2">
            <svg width="30" height="34" viewBox="0 0 30 34" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path
                fill-rule="evenodd"
                clip-rule="evenodd"
                d="M15 0.0830078C18.9782 0.0830078 22.7936 1.66336 25.6066 4.47641C28.4196 7.28945 30 11.1048 30 15.083C30 20.2063 27.2067 24.3997 24.2633 27.408C22.7925 28.8945 21.188 30.2424 19.47 31.4347L18.76 31.918L18.4267 32.1397L17.7983 32.5397L17.2383 32.8813L16.545 33.2847C16.0742 33.5527 15.5417 33.6936 15 33.6936C14.4583 33.6936 13.9258 33.5527 13.455 33.2847L12.7617 32.8813L11.895 32.348L11.575 32.1397L10.8917 31.6847C9.0383 30.4302 7.31178 28.9979 5.73667 27.408C2.79333 24.398 0 20.2063 0 15.083C0 11.1048 1.58035 7.28945 4.3934 4.47641C7.20644 1.66336 11.0218 0.0830078 15 0.0830078ZM15 3.41634C11.9058 3.41634 8.93834 4.6455 6.75042 6.83343C4.5625 9.02135 3.33333 11.9888 3.33333 15.083C3.33333 18.953 5.45333 22.3497 8.11833 25.0763C9.26437 26.2362 10.5029 27.3008 11.8217 28.2597L12.585 28.803C12.8317 28.9747 13.0683 29.1347 13.2967 29.283L13.9467 29.6997L14.5183 30.048L15 30.3297L15.7583 29.8813L16.37 29.498C16.695 29.2913 17.045 29.0597 17.415 28.803L18.1783 28.2597C19.4971 27.3008 20.7356 26.2362 21.8817 25.0763C24.5467 22.3513 26.6667 18.953 26.6667 15.083C26.6667 11.9888 25.4375 9.02135 23.2496 6.83343C21.0617 4.6455 18.0942 3.41634 15 3.41634ZM15 8.41634C16.7681 8.41634 18.4638 9.11872 19.714 10.369C20.9643 11.6192 21.6667 13.3149 21.6667 15.083C21.6667 16.8511 20.9643 18.5468 19.714 19.7971C18.4638 21.0473 16.7681 21.7497 15 21.7497C13.2319 21.7497 11.5362 21.0473 10.286 19.7971C9.03571 18.5468 8.33333 16.8511 8.33333 15.083C8.33333 13.3149 9.03571 11.6192 10.286 10.369C11.5362 9.11872 13.2319 8.41634 15 8.41634ZM15 11.7497C14.1159 11.7497 13.2681 12.1009 12.643 12.726C12.0179 13.3511 11.6667 14.199 11.6667 15.083C11.6667 15.9671 12.0179 16.8149 12.643 17.44C13.2681 18.0652 14.1159 18.4163 15 18.4163C15.8841 18.4163 16.7319 18.0652 17.357 17.44C17.9821 16.8149 18.3333 15.9671 18.3333 15.083C18.3333 14.199 17.9821 13.3511 17.357 12.726C16.7319 12.1009 15.8841 11.7497 15 11.7497Z"
                fill="black"
              />
            </svg>
            <h1 class="font-bold">Office</h1>
            <p>No 9, QMB Builders Mart, ELF Bus-stop, Lekki, Lagos</p>
          </div>
        </div>
      </div>
    </section>

    <section class="section">
      <!-- This is the footer element -->
      <%- include("./_partials/footer.ejs") %>
      <!-- The end of the footer# -->
    </section>

    <script>
      const mailto = function (e) {
        document
          .getElementById("mailer")
          .setAttribute(
            "href",
            `mailto:Robbysejebor@omsbevrage.com?subject=${document.getElementById("subject").value.trim()}&body=${document.getElementById("body").value.trim()}`
          );
      };
      document.getElementById("subject").addEventListener("keyup", mailto);
      document.getElementById("body").addEventListener("keyup", mailto);
    </script>
  </body>
</html>
