<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Become an Affiliate Marketer for OBST (Seminar Event)</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.3.0/flowbite.min.css" rel="stylesheet" />
    <script defer src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.3.0/flowbite.min.js"></script>
    <%- include("./_partials/css.ejs") %>
    <link rel="shortcut icon" href="./assets/favicon.ico" type="image/x-icon" />
  </head>

  <body>
    <%- include("./_partials/nav.ejs", {active : "./installers.html"}) %>

    <div>
      <h1 class="title text-center py-10">DIFFERENCE BETWEEN TUBULAR BATTERIES, LITHIUM BATTERY AND LITHIUM IRON PHOSPHATE BATTERY</h1>
      <div class="text-center">
        <div>
          <div>
            <img
              src="./assets/other/panels-small.png"
              srcset="./assets/other/panels-small.jpg 640w, ./assets/other/panels-big.jpg 2400w"
              sizes="(max-width : 1000px) 640px, 2400px "
              class="w-full aspect-video max-h-[60vh] object-cover"
              srcset=""
            />
          </div>
        </div>
      </div>
    </div>

    <section class="section pt-0">
      <div class="max-w-[1200px] mx-auto">
        <div class="mt-10">
          <div class="mb-10 items-center mt-20 space-y-10">
            <div>
              <p>
                IT's true That Solar energy has become increasingly popular as a clean and renewable source of electricity for home and business use. But the
                thing is that there are different solar batteries we used in our homes and business and we don't know much about the batteries .
              </p>
              <div class="space-y-2">
                <h1 class="mb-3">These batteries are ...</h1>
                <ol class="space-y-1 list-decimal list-inside">
                  <li>Tubular batteries</li>
                  <li>Lithium batteries</li>
                  <li>Lithium iron phosphate battery</li>
                </ol>
              </div>
            </div>
            <h1 class="text-xl mb-3">Let's look at the difference between these solar batteries..</h1>
            <div>
              <h1 class="text-2xl font-medium mb-3">Step-by-Step Guide to Calculate Solar Panel Electricity Output</h1>
              <ol class="list-decimal list-inside space-y-5">
                <li class="space-y-3">
                  <b>TUBULAR BATTERIES </b>
                  <div class="space-y-2">
                    <p>Tubular batteries are lead-acid batteries.</p>
                    <p><b>Lifespan:</b> the life span of tubular batteries typically last around 2 to 3 years which is lesser than the other batteries</p>
                    <p><b>Rapid Charging:</b> tubular batteries require approximately 15 hours to reach full charge</p>
                    <p><b>Energy Efficient :</b> it has low energy efficiency This means that they cannot deliver more backup power with less energy input.</p>
                    <p>
                      <b>Maintenance:</b> Tubular batteries require regular maintenance, including water topping to maintain electrolyte levels, which can be
                      large , heavy and time-consuming.
                    </p>
                    <p>
                      <b>Environmental Impact:</b> Tubular batteries emit lead-based fumes during operation, posing health risks, especially in enclosed spaces.
                    </p>
                    <p><b>Space and Weight:</b> when it comes to space and weight tubular requires a lot of space and a lot of hands to carry</p>
                    <p>Temperature Tolerance: tubular batteries require temperature within a narrower range of 0°C to 50°C.</p>
                  </div>
                </li>
                <li class="space-y-3">
                  <b>LITHIUM BATTERY </b>
                  <div class="space-y-2">
                    <p>Lithium batteries is a rechargeable battery</p>
                    <p><b>Extended Lifespan:</b> the life span of Lithium batteries typically last around 8 years.</p>
                    <p>
                      <b>Rapid Charging:</b> For most lithium batteries, their charging process can take up to 8 hours or more depending on the size of the
                      battery
                    </p>
                    <p>
                      <b>Efficient Energy :</b> batteries offer higher energy efficiency This means that they can deliver more backup power with less energy
                      input but not like the lithium iron phosphate battery
                    </p>
                    <p>
                      <b>Maintenance:</b> Tubular batteries require regular maintenance, including water topping to maintain electrolyte levels, which can be
                      large , heavy and time-consuming.
                    </p>
                    <p><b>Environmental Impact:</b> Lithium Iron Phosphate batteries are more environmentally friendly than their tubular counterparts.</p>
                    <p>
                      <b>Space and Weight:</b> Lithium batteries offer a significant advantage in terms of space and weight savings just like the lithium iron
                      phosphate batteries
                    </p>
                    <p>
                      <b>Temperature Tolerance:</b> The temperature tolerance of a lithium battery typically ranges from -20°C to 60°C. Operating a lithium
                      battery outside of this temperature range can result in decreased performance, reduced capacity, or potential damage to the battery.
                      Extreme temperatures can also cause the battery to overheat, leak, or explode. It is important to store and use lithium batteries within
                      their recommended temperature range to ensure safe and optimal performance.
                    </p>
                  </div>
                </li>
                <li class="space-y-3">
                  <b> LITHIUM IRON PHOSPHATE BATTERY </b>
                  <div class="space-y-2">
                    <p>Is a rechargeable battery</p>
                    <p>
                      <b>Extended Lifespan:</b> Lithium Iron Phosphate batteries boast a lifespan of 15 to 20 years. This durability translates to fewer
                      replacements over time, reducing maintenance costs and downtime.
                    </p>
                    <p>
                      <b>Rapid Charging:</b> One of the standout features of Lithium Iron Phosphate batteries is their rapid charging capability. It takes 2 to
                      3 hours to reach full charge
                    </p>
                    <p>
                      <b>Efficient Energy:</b> Lithium Iron Phosphate batteries offer higher energy efficiency This means that they can deliver more backup
                      power with less energy input.
                    </p>
                    <p>
                      <b>Maintenance:</b> Lithium Iron Phosphate batteries are virtually maintenance-free. This reduces the burden on personnel and eliminates
                      the risk of overlooking critical maintenance tasks, ensuring consistent performance and reliability.
                    </p>
                    <p>
                      <b>Environmental Impact:</b> Lithium Iron Phosphate batteries are more environmentally friendly than tubular batteries. They are
                      recyclable and have a lower environmental footprint throughout their lifecycle.
                    </p>
                    <p><b>Space and Weight:</b> Lithium Iron Phosphate batteries offer a significant advantage in terms of space and weight savings.</p>
                    <p>
                      <b>Temperature :</b> Lithium Iron Phosphate chemistry, commonly used in lithium-ion batteries, exhibits excellent temperature tolerance
                      ranging from -20°C to 60°C, with optimal performance between 0°C to 45°C. Lithium Iron Phosphate batteries maintain consistent performance
                      even in extreme temperatures.
                    </p>
                    <p>
                      So that's the difference between the different solar batteries . Now that you have the knowledge about the different solar batteries in
                      performance and longevity I hope you make the right choice for your home .
                    </p>
                  </div>
                </li>
              </ol>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- This is the footer element -->
    <%- include("./_partials/footer.ejs") %>
    <!-- The end of the footer# -->

    <!--  -->
  </body>
</html>
