<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Become an Affiliate Marketer for OBST (Seminar Event)</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.3.0/flowbite.min.css" rel="stylesheet" />
    <script defer src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.3.0/flowbite.min.js"></script>
    <%- include("./_partials/css.ejs") %>
    <link rel="shortcut icon" href="./assets/favicon.ico" type="image/x-icon" />
  </head>

  <body>
    <%- include("./_partials/nav.ejs", {active : "./installers.html"}) %>

    <section class="section">
      <div class="max-w-[1200px] mx-auto">
        <h1 class="title text-center">How to Become an OBST affiliate Marketer</h1>

        <div class="mt-10">
          <div class="text-center">
            <h1 class="text-lg font-medium mb-3">Pictures from the Event</h1>
            <div class="mt-10 grid grid-cols-2 sm:grid-cols-4 gap-5">
              <div class="col-span-2 grid grid-cols-2 gap-5">
                <div class="col-span-1">
                  <img src="./assets/other/seminar-3.png" class="w-full" srcset="" />
                </div>
                <div class="col-span-1">
                  <img src="./assets/other/seminar-2.png" class="w-full" srcset="" />
                </div>
                <div class="col-span-1">
                  <img src="./assets/other/seminar-6.png" class="w-full" srcset="" />
                </div>
                <div class="col-span-1">
                  <img src="./assets/other/seminar-5.png" class="w-full" srcset="" />
                </div>
              </div>
              <div class="col-span-2">
                <img src="./assets/other/seminar-8.png" class="w-full" srcset="" />
              </div>
            </div>
          </div>
          <div class="mb-10 items-center mt-20 space-y-10">
            <div>
              <h1 class="text-lg font-medium mb-3">Purpose and Objection</h1>
              <p>
                As an affiliate marketer, you play a vital role in promoting innovative solutions that transform lives and businesses. As you may know, the
                world is shifting towards renewable energy sources, and solar energy is at the forefront of this revolution. One of the purposes of this
                seminar, as an affiliate marketer, is to learn how to leverage this knowledge to promote high-quality products and services that meet the
                growing demands for sustainable energy solutions.
              </p>
            </div>
            <div>
              <h1 class="text-lg font-medium mb-3">Company Profile</h1>
              <p>
                OBST is located in DG100 Industry Park, Gaobu Town, Dongguan City, known as the "Manufacturing Capital of China". The company was established in
                2009. After 15 years of market changes, the company has four subsidiaries, focusing on solar energy, photovoltaics, energy storage, air energy,
                and sunlight drying equipment research and development, production, sales and services of high-tech enterprises. The main products are
                photovoltaic energy storage systems, solar energy collection and thermal systems, air energy hot water drying systems and other series of
                products. Since its establishment, OBST has won many honors in the industry and obtained 20-30 intellectual property patents and software
                copyrights. It has passed CE certification of the European Union, ROHS certification and many industry certifications, becoming an influential
                brand in the energy industry. OBST company has always taken technological innovation as the driving force for enterprise development. It has a
                team of high-educated talents with rich experience in renewable energy power industry research and development and strong independent innovation
                capability. The company adheres to the corporate spirit of "integrity, innovation, dedication and cooperation", providing customers with
                high-quality design, installation and technical transformation solutions for photovoltaic and solar thermal systems to continuously improve
                customer and public satisfaction and strive to build the company into a new energy enterprise with greater contribution to society and global
                reputation. In order to better serve customers around the world, OBST Company has set up offices in Australia, Nigeria and Malaysia
                respectively. While expanding the market, it provides timely and effective services to partners.
              </p>
            </div>
            <div>
              <h1 class="text-lg font-medium mb-3">A growing market</h1>
              <p>
                Nigeria is said to be one of the fastest growing markets for solar. The Heinrich Boll Stiftung calculated that the country's off-grid market for
                mini-grids and solar home systems is estimated to yield $10 billion annually in revenue and savings of $6 billion for NIgeria homes and
                businesses. According to the Global off Grid Market Report, Nigeria is the 5th larges market in terms of volume of solar products sold. Sales of
                off-grid solar systems (50W - 100W output) increased by more than double in value from $23 million in 2018 to $63 nillion in 2019. Adding
                related products, the total import value is closer to $150m.
              </p>
            </div>
            <div>
              <h1 class="text-lg font-medium mb-3">Going into Solar Business</h1>
              <p>
                Nigeria is said to be one of the fastest growing markets for solar. The Heinrich Boll Stiftung calculated that the country's off-grid market for
                mini-grids and solar home systems is estimated to yield $10 billion annually in revenue and savings of $6 billion for NIgeria homes and
                businesses. According to the Global off Grid Market Report, Nigeria is the 5th larges market in terms of volume of solar products sold. Sales of
                off-grid solar systems (50W - 100W output) increased by more than double in value from $23 million in 2018 to $63 nillion in 2019. Adding
                related products, the total import value is closer to $150m.
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- This is the footer element -->
    <%- include("./_partials/footer.ejs") %>
    <!-- The end of the footer# -->

    <!--  -->
  </body>
</html>
